.cart-badge {
    font-size: 0.65rem;
    background-color: #f08804;
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -5px;
}

.nav-link {
    color: #ffffff !important;
    font-weight: 500;
}

.nav-link:hover {
    color: #febd69 !important;
}

.dropdown-toggle.btn.btn-link {
    color: #ffffff !important;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
}

.dropdown-toggle.btn.btn-link:hover {
    color: #febd69 !important;
}

.dropdown-item:active {
    background-color: #232f3e;
}
